workflows/01-simple-email-automation/SImple Email Automation.json
{
  "name": "Simple Email Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9e3184d4-3db4-4142-b5e8-dec58982baf3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1e137a9-44b0-480b-838f-ca96d10911e7",
              "name": "Topic",
              "value": "AI Agents in Healthcare",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "77c77c35-5018-476e-90af-2ce84edb30b8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer \"YOUR_GROQ_API_KEY\""
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful assistant. Explain things simply for beginners.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Explain AI Agents in Healthcare in simple bullet points.\"\n    }\n  ],\n  \"temperature\": 0.3\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "3772e810-0f9c-4452-a8ce-96b476d8d554",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "AI agents in Healthcare",
        "message": "={{ $json.choices[0].message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "ab62a89f-80a6-4b56-a203-3222ca48fc23",
      "name": "Send a message"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "269437c1-16d5-494c-832c-11f7f60bc836",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "aGW458jyYm1tmTztOq60x",
  "tags": []
}
